.btnopen, .btnclose {
    padding: 15px;
    background-color: blue;
    color: #ffffff;
    border: none;
    transition: .5s ease-in-out;
}
.btnclose{
    background-color: red;
}
.btn:hover{
    background-color: saddlebrown;
}
.open {
    display: block;
    position: absolute;
    transition: 5s ease-in-out;
    left: 50%;
    bottom: 50%; 
    transform: translate(-50%,-50%);  
    width: 320px;
    height: 120px;
    background-color: darkcyan;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}
.close {
    display: none;
    
}
